.user-icon {
  .el-avatar {
    height: 100px;
    width: 100px;

    &--icon {
      font-size: 30px;
    }
  }
}

.user-bio {
  .el-rate {
    &__icon {
      font-size: 20px;
    }
  }
}

.stats-card {
  text-align: center;
  text-wrap: break-word;
  width: auto;
}
